{% extends 'base.html.twig' %}

{% block title %}Groove Yard{% endblock %}

{% block body %}
  <h1 class='text-4xl text-center'>HERE ARE THE COORDINATE MADDAFFAKA</h1>
  <h2 class='text-2xl text-center'>{{ lat }}</h2>
  <h2 class='text-2xl text-center'>{{ lon }}</h2>
{% endblock %}
