@tailwind base;
@tailwind components;
@tailwind utilities;

/*
COLOR
#292a2d - dark grey
#d8bdaa - sand
#c24238 - brick
#bbbbbc - grey
#393333 - brownish dark grey
*/

body {
  background-color: #d8bdaa;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
