{% extends 'base.html.twig' %}
{% block navbar %} {% endblock %}
{% block body %}
<h1 class="text-3xl text-center m-2">Welcome to Groove Yard!</h1>

<p class="text-xl text-center m-2">
    You signed up as <span class="font-bold">{{ user.username}}</span>
</p>

<p class="text-xl text-center m-2">
    Now start building your collection!
</p>

{% endblock %}
