{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
  {% for album in albums %}
    <p>
        <span class="hover:underline" href="">{{ album.title }}</span> - 
        <span>{{ album.artist }}</span>
    </p>
      <img src="{{ asset('albums/' ~ album.image ) }}" alt="">
  {% endfor %}
{% endblock %}
